{% extends 'layout.html' %}

{% block title %}
    <title>Delete-Professor</title>
{% endblock %}

{% block content %}
<div class="container" style="width:40%">
    <form method="post" class="jumbotron">
        <h2 style="color:red">Confirm Delete</h2>
        <p> are you sure to delete Professor name is {{prof_object.prof_name}} and salary is {{prof_object.sal}} ?</p>
        {% csrf_token %}
        <a href="{% url 'Delete_prof' prof_object.id %}"><button class="btn btn-danger">Delete</button></a>
        <a href="{% url 'Show-Prof' %}"><button type="button" class="btn btn-warning">Cancel</button></a>
    </form>
    <br>

</div>

{% endblock %}