{% extends "layout.html" %}
{% block title %}
    <title>Show Department Page</title>
{% endblock %}
{% block search %}
    <ul class="navbar-nav ml-auto ">
        <form method="post" class="form-inline" style="margin-right:auto">
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" name="searchdata" placeholder="Search" aria-label="Search">
            <button class="btn btn-success " type="submit">Department</button>
        </form>
    </ul>
{% endblock %}
{% block content %}
<div class="container" style="background-color:lightgray;margin-top:4%">
    <h2 style="text-align:center;">Department Details</h2>
    <table class="table table-striped table-dark" style="width:90%;margin:auto">
        <tr >
            <th>Department ID</th>
            <th>Department Name</th>
            <th>Intake</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        {% for dept in department %}
            <tr >
                <td>{{dept.id}}</td>
                <td>{{dept.dept_Name}}</td>
                <td>{{dept.intake}}</td>
                <td><a href="{% url 'update_dept' dept.id %}"><button class="btn btn-warning">Update</button></a></td>
                <td><a href="{% url 'Delete_dept' dept.id %}"><button class="btn btn-danger">Delete</button></a></td>
            </tr>
        {% endfor %}
    </table>
   <br>
   <br>
    <h2 style="text-align:center">Professors in department</h2>
    <table class="table table-striped table-dark" style="width:90%;margin:auto">
        <tr >
            <th>Professor ID</th>
            <th>Professor Name</th>
            <th>Salary</th>
        </tr>
        {% for professor in professor %}
            <tr >
                <td>{{professor.id}}</td>
                <td>{{professor.prof_name}}</td>
                <td>{{professor.sal}}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <br>
    <h2 style="text-align:center">Students in Department</h2>
    <table class="table table-striped table-dark" style="width:90%;margin:auto">
        <tr >
            <th>Student RollNo</th>
            <th>Student Name</th>
            <th>Marks</th>
            <th>Department</th>
        </tr>
        {% for student in student %}
            <tr >
                <td>{{student.roll_no}}</td>
                <td>{{student.stud_name}}</td>
                <td>{{student.marks}}</td>
                <td>{{student.department.dept_Name}}</td>
            </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}